@import "tailwindcss";

:root {
  --text: #e8ecf5;
  --background: #070910;
  --primary: #99acd4;
  --muted: #9AA4B8;
  --secondary: #3e3174;
  --accent: #7a37e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --font-sans: 'Geist Sans', sans-serif;
  --font-mono: 'Geist Mono', monospace;
  --font-serif: var(--font-serif);
  --text-base: 20px;
  --text-sm: 16px;
  --text-xs: 12px;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(8px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  body {
    @apply bg-background text-foreground text-base;
  }

  button {
    @apply disabled:cursor-not-allowed;
  }

  h1, h2 {
    @apply font-bold;
  }


  h1, h2, h3, h4, h5, h6 {
    @apply font-sans;
  }

  button:not(:disabled) {
    cursor: pointer;
  }
}